@use './theme/variables';

body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  
}

a {
  color: var(--color-primary);
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    outline: 3px solid var(--color-border-focus);
    border-radius: var(--base-radius);
  }
}