@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


:root {
  --color-primary: #605DEC;
  --color-primary-light: #EDEDFE;
  --color-primary-dark: #344293;
  --color-button-secondary: #F9F9FB;
  --color-text-body: #1A1A1A;
  --color-text-light: #808080;
  --color-text-placeholder: rgba(0,0,0,0.3);
  --color-bg-body: #FFF;
  --color-border: #E4E4EF;
  --color-border-focus: #000;
  --color-secondary: #31AA27;
  --color-secondary-light:#EBF6EB;
  --color-warning: #E99518;
  --color-warning-light:#FFF4E4;
  --color-danger: #F93232;
  --color-danger-light: #FFF0F0;
  --base-padding-x: 16px;
  --base-padding-y: 18px;
  --padding-y-small: 8px;
  --base-gap: 10px;
  --gap-large: 16px;
  --gap-site: 25px;
  --gap-site-small: 16px; // actually 15 and 17 but I refuse to do that. 
  --base-font-size: 1rem; /* 16px */ 
  --base-line-height: 1.25rem; /* 20px */ 
  --table-font-size: 0.875rem; /* 14px */ 
  --button-font-size: 0.875rem; 
  --font-medium: 0.875rem; /* 14px */
  --font-small: 0.75rem; /* 12px */
  --base-font-family: 'Nunito Sans', sans-serif;
  --column-font-family: 'Inter', sans-serif;
  --icon-size: 24px;
  --input-padding-x: 16px; 
  --input-padding-y: 8px; 
  --input-height: calc(44px - 2 * var(--input-padding-y));
  --input-border-radius: 4px;
  --base-radius: 4px;
  --base-shadow: 0 -3px 30px #0000004d;
  --z-index-modal: 1000;
  --z-index-dropdown: 100;
  --width-site-max: 1186px;
}


// spacing
$padding: var(--base-padding-y) var(--base-padding-x);
$gap: var(--base-gap);