@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


:root {
  --color-primary: #605DEC;
  --color-text-body: #1A1A1A;
  --color-text-light: #808080;
  --color-text-placeholder: rgba(0,0,0,0.3);
  --color-bg-body: #FFF;
  --color-border: #E4E4EF;
  --color-border-focus: #000;
  --color-primary-light: #EDEDFE;
  --color-secondary: #31AA27;
  --color-secondary-light:#EBF6EB;
  --color-warning: #E99518;
  --color-warning-light:#FFF4E4;
  --color-danger: #F93232;
  --color-danger-light: #FFF0F0;
  --base-padding: 18px 16px; 
  --base-gap: 10px;
  --gap-large: 16px;
  --base-font-size: 1rem; /* 16px */ 
  --base-line-height: 1.25rem; /* 20px */ 
  --column-font-size: 0.875rem; /* 14px */ 
  --button-font-size: 0.875rem; 
  --base-font-family: 'Nunito Sans', sans-serif;
  --column-font-family: 'Inter', sans-serif;
  --icon-size: 24px;
}

// borders
$radius: 8px;
$border: 1px solid var(--color-border);

// spacing
$padding: var(--base-padding);
$gap: var(--base-gap);